.HeaderMain{
   font-size: 2em;
   text-align:center;
   padding:0.5rem 2rem;
   text-transform: uppercase;
   background-color:white;
}

.HeaderMain-Photo{
    padding:0.5rem;
}
.HeaderMain-Photo img{
    height: 120px;
    width: 120px;
    border-radius:100%;
    border: 2px solid black;
}

.HeaderMain-Title{
    font-size:1em;
}
.HeaderMain-Subtitle{
    font-size:0.75em;
}
.HeaderMain-Data{
    display:flex;
    padding: 1rem;
}