.BubbleData {
    display: block;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #d8d8d8;
}
.BubbleData-Header {
    font-size: 1em;
    text-transform: capitalize;
    font-weight: 900;
    display: inline-flex;
    align-items: center;
}
.BubbleData-Photo {
    width: 75px;
    height: 75px;
    overflow: hidden;
}
.BubbleData-Photo-Img {
    height: 100%;
}
.BubbleData-Right {
    padding: 0.5rem;
}
.CompanyPhoto{
    padding:5px;
}
.CompanyPhoto img{
    height:50px
}
